# Virtual Environment Files
.env
swarm_env/

# Byte-compiled files
*.pyc
__pycache__

# Config files
Config/settings.py

Api/dist
#prompts
Email_automation/src/prompts.py
Lead_generator/src/lead_generator_prompts.py
# Credentials
Email_automation/src/credentials.json
Email_automation/src/token.json
Meet_buddy/src/credentials.json
Meet_buddy/src/token.json
credentials.json
token.json

# Saved LLM Model
lead_generator/src/fine_tuned_bert

# Jupyter notebook checkpoints
.ipynb_checkpoints