# Virtual environment
my_env/

# Byte-compiled files
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/
fine_tuned_bert/

.env
config/settings.py